$color-primary-blue: #5847eb;
$color-primary-light-orange: #ff8c66;
$color-primary-soft-blue: #56c2e6;
$color-primary-light-red: #ff5c7c;
$color-primary-lime-green: #4acf81;
$color-primary-violet: #7536d3;
$color-primary-soft-orange: #f2c85c;

$color-neutral-very-dark-blue: #0f1424;
$color-neutral-dark-blue: #1c1f4a;
$color-neutral-desaturated-blue: #6f76c8;
$color-neutral-pale-blue: #bdc1ff;

$breakpoint-mobile: 37.5em; // 600px
$breakpoint-desktop: 90em; // 1440px
