@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;

  @include mediaQuery(desktop) {
    font-size: 70%;
  }
}

body {
  @include flex-row;
  @include flex-center;

  padding: 8rem 3rem;

  min-height: 100vh;

  font-size: 1.6rem;
  color: #fff;

  background-color: $color-neutral-very-dark-blue;
}
