* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture {
  display: block;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  border-radius: 0;
  background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
